* {
  margin: 0;
  padding: 0;
}

.body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

tr .cardbody {
  width: 400px;
  height: 150px;
  margin: 10px;
  border: solid black 1px;
  margin: 10px;
}

td {
  margin: 2px;
  display: flex;
  flex: wrap;
  flex: center;
  border-top: solid black 1px;
  border-bottom: solid black 1px;
}

.object {
  border: rgb(0, 0, 139, 0.8) solid 5px;
  margin: 10px;
}
